{{ $incidents := where .Site.RegularPages "Params.section" "issue" }}
{{ $active := where $incidents "Params.resolved" "=" false }}

{{ $isNotice := where $active "Params.severity" "=" "notice" }}
{{ $isDisrupted := where $active "Params.severity" "=" "disrupted" }}
{{ $isDown := where $active "Params.severity" "=" "down" }}


{{ if not $active }}
<div class="usa-alert usa-alert--success" >
  <div class="usa-alert__body">
    <h3 class="usa-alert__heading">{{ T "calmBeforeTheStorm" }}</h3>
    <p class="usa-alert__text">{{ T "noIncidentsDesc" }}</p>
  </div>
</div>
{{ else }}


<div class="usa-accordion usa-accordion--bordered site-accordion-code shadow-5">
{{ if $active }}
{{ range $active }}
  {{ if $isDown }}
  <button class="usa-accordion__button usa-alert--error float-right" aria-controls="{{ .Title }}" aria-expanded="true">Outage
    {{ range .Params.Affected }}
    <a class="usa-badge usa-badge--alert float-right" href="/affected/{{ . | urlize }}">{{ . }}</a>
    {{ end }}
  {{ end }}
  {{ if $isDisrupted }}
  <button class="usa-accordion__button usa-alert--warning" aria-controls="{{ .Title }}" aria-expanded="true">Partial Outage
    {{ range .Params.Affected }}
    <a class="usa-badge usa-badge--warning float-right" href="/affected/{{ . | urlize }}">{{ . }}</a>
    {{ end }}
  {{ end }}
  {{ if $isNotice }}
  <button class="usa-accordion__button usa-alert--info float-right" aria-controls="{{ .Title }}" aria-expanded="true">Notice
    {{ range .Params.Affected }}
    <a class="usa-badge usa-badge--general" href="/affected/{{ . | urlize }}">{{ . }}</a>
    {{ end }}
  {{ end }}
  </button>
    <div id="{{ .Title }}" class="usa-accordion__content usa-prose">
    <a class="usa-button usa-button--outline" href="{{ .Permalink }}">{{ .Title }}</a>
      <p>{{ .Content | safeHTML | truncate 500 "…" }}</p>
    </div>
</div>
{{ end }}
{{ end }}
{{ end }}
