{{ if .Site.Params.enableCustomHTML }}
  {{ partial "custom/above-header" . }}
{{ end }}

{{ if .Site.Params.useLargeHeaderDesign }}
<!-- 
  <div class="header header--large">
  <div class="contain contain--more center">
    <a href="/" class="header__logo">
      {{ if .Site.Params.useLogo }}
        <img src="{{ .Site.Params.logo }}" alt="{{ .Site.Title }}">
          {{ else }}
        <h1>{{ .Site.Title }}</h1>
      {{ end }}
    </a>
  </div>
</div>
-->
{{ else }}
<div class="usa-overlay"></div>
<header class="usa-header usa-header--basic">
  <div class="usa-nav-container">
    <div class="usa-navbar">
  <div class="usa-logo" id="basic-logo">
    <img class="usa-header__logo-img" src="/logo.png" alt="{{ .Site.Title }}" height="40px" width="40px">
    <em class="usa-logo__text">
      <a href="/logo.png" title="Home" aria-label="Home">{{ .Site.Title }}</a>
    </em>
  </div>
  <button class="usa-menu-btn">Menu</button>
</div>
<nav aria-label="Primary navigation" class="usa-nav">
  {{ with $.Site.Home.OutputFormats.Get "rss" }}
  <a href="{{ .Permalink }}" class="usa-button usa-button--outline float-right">⚡ {{ T "rss" }}</a>
  {{ end }}
</nav>
  </div>
</header>
{{ end }}

{{ if .Site.Params.enableCustomHTML }}
  {{ partial "custom/below-header" . }}
{{ end }}
