
<h3>Progress Bar</h3>


<div class="usa-progress">
  <div style="width:13%;" class="usa-progress-bar usa-blue-darkest usa-text-white" role="progressbar"> 13% In Use </div>
  <div style="width:25%;" class="usa-progress-bar usa-blue usa-text-white" role="progressbar"> 25% Reserved </div>
  <div class="usa-progress-bar usa-blue-darker usa-text-white usa-progress-bar--striped usa-progress-bar--animated" role="progressbar" style="width:62%"> 62% Available</div>
</div>


<div class="usa-progress">
  <div style="width:35%;" class="usa-progress-bar" role="progressbar"> 35% In Use </div>
  <div class="usa-progress-bar usa-red usa-text-white" role="progressbar" style="width:65%"> 65% Available</div>
</div>
